@page
@model MiniHR.Pages.Employees.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Employee.Id" />
            <div class="form-group">
                <label asp-for="Employee.EmployeeNumber" class="control-label"></label>
                <input asp-for="Employee.EmployeeNumber" disabled class="form-control" />
                <span asp-validation-for="Employee.EmployeeNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Name" class="control-label"></label>
                <input asp-for="Employee.Name" class="form-control" />
                <span asp-validation-for="Employee.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Department" class="control-label"></label>
                <input asp-for="Employee.Department" class="form-control" />
                <span asp-validation-for="Employee.Department" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.HireDate" class="control-label"></label>
                <input asp-for="Employee.HireDate" type="text" id="date-mask" class="form-control" placeholder="yyyy-mm-dd" maxlength="10" />
                <span asp-validation-for="Employee.HireDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.AnnualSalary" class="control-label"></label>
                <input asp-for="Employee.AnnualSalary" class="form-control" />
                <span asp-validation-for="Employee.AnnualSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Role" class="control-label"></label>
                <select asp-for="Employee.Role" 
                asp-items="Html.GetEnumSelectList<MiniHR.Models.Employee.RoleType>()" class="form-control">
                </select>
                <span asp-validation-for="Employee.Role" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
            <div class="form-check mb-2">
                <input type="checkbox" id="chkPasswordChange" class="form-check-input" />
                <label class="form-check-label" for="chkPasswordChange">비밀번호 변경</label>
            </div>
            
            <label asp-for="Employee.Password" class="control-label"></label>
            <input asp-for="Employee.Password" id="txtPassword" class="form-control" 
                   disabled placeholder="변경할 비밀번호를 입력하세요" />
            
            <div id="passwordHelp" class="small mt-1"></div>
            
            <span asp-validation-for="Employee.Password" class="text-danger"></span>
            
            <input type="hidden" id="originalPassword" value="@Model.Employee.Password" />
            </div>
            <div class="form-group">
                <input type="submit" id="btnSave" value="Save" class="btn btn-primary" />
            </div>

            <input type="hidden" asp-for="Employee.EmployeeNumber" />
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        
    <script>
        //입사일자 표기 마스크
        const dateInput = document.getElementById('date-mask');

        dateInput.addEventListener('input', function (e) {
            let value = e.target.value.replace(/[^0-9]/g, '');
            
            if (value.length > 4 && value.length <= 6) {
                value = value.slice(0, 4) + '-' + value.slice(4);
            } else if (value.length > 6) {
                value = value.slice(0, 4) + '-' + value.slice(4, 6) + '-' + value.slice(6, 8);
            }

            e.target.value = value;
        });

        dateInput.addEventListener('keydown', function (e) {
            if (e.key === 'Backspace') {
                const value = e.target.value;
                if (value.endsWith('-')) {
                    e.target.value = value.slice(0, -1);
                }
            }
        });
    </script>

    <script>
        //Pw 변경에 대해서

        const chkChange = document.getElementById('chkPasswordChange');
        const txtPass = document.getElementById('txtPassword');
        const helpMsg = document.getElementById('passwordHelp');
        
        chkChange.addEventListener('change', function() {
            txtPass.disabled = !this.checked;
            
            if (!this.checked) {
                txtPass.value = ""; 
                helpMsg.textContent = ""; 
                btnSave.disabled = false;
            }
        });

        txtPass.addEventListener('input', function() {
        const val = this.value;
        const origin = document.getElementById('originalPassword').value;
        let message = "";
        let isError = false;
    
        if (val.length < 8) {
            message = '비밀번호는 8자 이상이어야 합니다.';
            isError = true;
        } 
        else if (val === origin) {
            message = '기존 비밀번호와 동일합니다.';
            isError = true;
        }
        else if (val.length > 0 && val.split('').every(char => char === val[0])) {
        message = '동일한 문자를 반복해서 사용할 수 없습니다.';
        isError = true;
        }
        
        helpMsg.textContent = message;
        helpMsg.style.color = isError ? 'red' : 'green';
        
        if (!isError && val.length > 0) 
            helpMsg.textContent = '사용 가능한 비밀번호입니다.';

        btnSave.disabled = isError;
    });

    </script>
}
