@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Mini-HR 시스템</h1>
    <p>C#과 ASP.NET Core, MS-SQL로 만드는 인사 관리 시스템입니다.</p>
    <hr />
    <a asp-page="/Employees/Index" class="btn btn-primary">직원 관리 시작하기</a>
</div>